/*
 * Content
 */

[role="main"] {
    padding-top: 60px;
    /* Space for fixed navbar */
}

[role="centred-form"] {
    margin-top: -60px;
    /* Space for fixed navbar */
}

.thumb-container {
    position: relative;
    width: 100%;
}

.thumb-image {
    display: block;
    width: 100%;
    height: auto;
}

.thumb-container:hover .thumb-icon .card-thumb {
    opacity: 1;
    color: #FF304F;
}

.thumb-icon {
    opacity: 0.9;
    color: #CACACA;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .6s ease;
}

.modal {
    padding-right: 0px !important;
}

.social {
    padding: 25px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
    opacity: 0.8;
}

.social:hover {
    opacity: 1;
}