/*
 * Content
 */

[role="main"] {
    padding-top: 60px;
    /* Space for fixed navbar */
}

[role="centred-form"] {
    margin-top: -60px;
    /* Space for fixed navbar */
}

.thumb-container {
    position: relative;
    width: 100%;
}

.thumb-image {
    display: block;
    width: 100%;
    height: auto;
}

.thumb-icon:hover {
    opacity: 1;
    color: white;
}

.thumb-icon {
    opacity: 0.9;
    color: #CACACA;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .6s ease;
}

.modal {
    padding-right: 0px !important;
}

.btn-w {
    color: #212529;
    background-color: white;
    border-color: white;
}

.btn-w:hover {
    color: #212529;
    background-color: white;
    border-color: white;
}

.btn-w:focus,
.btn-w.focus {
    box-shadow: 0 0 0 0.2rem rgba(236, 236, 236, 0.5);
}

.btn-w.disabled,
.btn-w:disabled {
    color: #212529;
    background-color: white;
    border-color: white;
}

.btn-w:not(:disabled):not(.disabled):active,
.btn-w:not(:disabled):not(.disabled).active,
.show>.btn-w.dropdown-toggle {
    color: #212529;
    background-color: lightgray;
    border-color: #cccccc;
}

.btn-w:not(:disabled):not(.disabled):active:focus,
.btn-w:not(:disabled):not(.disabled).active:focus,
.show>.btn-w.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 243, 243, 0.5);
}

.social-btn {
    font-size: 26px;
    display: inline-block;
    background: transparent;
    color: #fff;
    line-height: 1;
    padding: 13px 5px 5px 5px;
    margin-right: 4px;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: center;
    width: 56px;
    height: 56px;
    transition: 0.3s;
    border-width: 2px;
}