/*
 * Content
 */

[role="main"] {
    padding-top: 60px;
    /* Space for fixed navbar */
}

[role="centred-form"] {
    margin-top: -60px;
    /* Space for fixed navbar */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255, 1);
}